.modal-backdrop {
	height: 100%;
	width: 100%;
	background-color: #00000070;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.container {
		width: 50%;
		height: 50%;
		margin: 100px auto 0;
		background-color: white;
	}
}
