.box-container {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-color: #ccc;
	z-index: -2;

	.box {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100px;
		height: 100px;
		background-color: purple;
		transition: all 0.5s;
		z-index: -1;
	}
}
